.b1{
   float: right;
    background: rgb(207, 233, 229);
    margin-left: 1rem;
    margin-right: 1.5rem;
    padding-inline: 1rem;
  
}
 .cart1{
     float: right; 
    text-decoration: none;
    color: black;
    margin-left: 1.5rem; 
   
} 
.navlink{

color: black;
text-decoration: none;
}
path {
    color: black;
}

