*{
    
    color: black;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}
 nav{
    height: 4rem;
    width: 100vw;
    background-color: lightseagreen;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    /* position: fixed; */
    z-index: 10;
} 
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    /* padding: 0 0.7vw; */
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}
