
  #r1{
    background-color:lightblue;
   
    
}  

/* #r2{

} */

 .cr1{
    background-color: lightpink;
    
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
   margin-bottom: 0;
} 



