/* .cart_loader{
 
    position: fixed;
    display: inline-block;
} */
.back-blur {   
/* text-align: center; */
/* height: 100vh; */
    padding-left: 40%;
    padding-top: 12%;



}

.img_loader{
    width: 25%;
 

}
.img_css{
    /* width: 100vw;
    height: 100vh; */
    
}