.sc-gqjmRU.glfuN.rsc-header {
    background:#b69ae1;
}
.sc-bZQynM.hQsUiY.rsc-ts-bubble {
    background:#b69ae1;
   }
button.sc-bxivhb.ipSaXD.rsc-os-option-element {
    background: #b69ae1;
   
}
.sc-bZQynM.cRmLCo.rsc-ts-bubble {
    background: #b69ae1;
    
}
a.sc-fjdhpX.godhbL.rsc-float-button{
    background: #b69ae1;

}