.mob_first_nav{
    background-color: #e3f2fd;
}
.mob_secon_nav{
    margin-top: -0.4%;
    background-color:#dbedfa;
}
.mob_third_nav{
    background-color:#aed4f0;
}
.img-logo{
    width: 8%;
   
} 

.f_nav{
    float: right;
    list-style: none;
    /* margin-top: -2.8%;
    margin-right: 6%;
    margin-left: 1%; */

}
 .signin{
    font-size: 10px;
    font-family: sans-serif;
    font-weight: 100;
    text-decoration: none;
    color: black;
 }

 .search-container{
     margin-left: 23%;
     border-radius: 2%;
 }
 .search_btn{
     border-radius: 20%;
     background: #e3f2fd;
 }
 .third_navlink{
    margin-left: 6%;
    text-decoration: none;
    color: black;
 }

 .dv-signin-cls{
     float: right;
     margin-right: 2%;
 }
  