

.col-md-3.side_ban {
    margin-left: 12%;
}
img.card-img-top {
    width: 120%;
}
.card_elecr {
    margin-left: 2%;
}
  
  

/* furniture div */

.furniture{
    /* display: inline-flex; */
    width: 100% !important;
    margin: auto;
  
}
.price-fur{
    font-size: 17px;
}
 .card-body{
    text-align: center;
}
.col-md-3.col-xl-3.col-lg-3.col-6.col-sm-6.cloth-size {
    margin-bottom: 3%;
}

.clothing{
    display: inline-flex;
    /* height: 300px; */
    /* margin-bottom: 2%; */

}
.cloth{
    display: inline-flex;
    /* margin-top: 10%; */
    width: 100% !important;
}
.font-cloth{
    font-size: medium;
}
.cloth-size {
    
width: 100%;
    /* margin-top: 5%; */
}
.col-md-12.card-4 {
    width: 96% !important;
}




