.bg-primary {
    --bs-bg-opacity: 1;
    background-color: #aed4f0 !important;
}
.text-white.mb-3.mb-md-0 {
    color: black !important;
}
label.error {
    color: red;
}
.email_cls{
    padding: 10px;
    width: 100%;
}   