
   .topnav {
     overflow: hidden; 
     height: 337.5%;
     /* background-image: radial-gradient(white,#c3ece6); */
     background-color:  #e3f2fd;   
   
  } 

.img-logo {
    width: 3%;
    border-radius: 58%;
    float: left;
    /* margin-top: 0.5%; */
  }  
 


  .cart-icon{
    float: right;
    margin-right: 1.5%;
  }
  span.cart-icon {
    font-size: 1.3rem;

}
.cart-text{
  font-size: 14px;
}

input.form-control.mr-sm-2 {
  width: 50%;
}

.icon_all {
  margin-bottom: 3%;
}
.like-icon{
  float: right;
   margin-right: 2%; 

}
.like-icon {
  font-size: 1.5rem;
  margin-top: -0.3%;

}
 /* .second_nav{
  background-color: #c3ece6;
  background-color:  #aed4f0;
  margin-bottom: 1%;
}  */


.dropbtn {
   /* background-color: #c3ece6;  */
  background-color: #aed4f0;

  color: rgb(0, 0, 0);
  padding: 6px;;
  font-size: 100%;
  border: none;
  /* height: 40px; */
  text-align: center;  
  /* padding-bottom: 22%; */



}

.dropdown {
  /* position: relative; */
  display: inline-block;
}

.dropdown-content {
  display: none;
   position: absolute; 
  background-color: #e3f2fd;
   /* min-width: 160px; */
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

.dropdown-content a {
  color: black;
   padding: 12px 16px; 
  text-decoration: none;
  display: block;
}

/* .dropdown-content a:hover {background-color: #d5ebe7} */
.dropdown-content a:hover {background-color: white}  


.dropdown:hover .dropdown-content {display: block;}

/* .dropdown:hover .dropbtn {background-color: #c1e7e2;} */
.dropdown:hover .dropbtn {background-color: white;}

/* top nav .dropdown css */


.nav_drop {
 display: inline-block;
 float: right;
margin-right: 2%;
margin-top: 0.3%;

}

.nav_drop-content {
  display: none;
   position: absolute; 
  background-color: #ffffff;
   /* min-width: 160px; */
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

.nav_drop-content a {
  color: black;
   padding: 7px 5px; 
  text-decoration: none;
  display: block;
}

/* .nav_drop-content a:hover {background-color: #d5ebe7} */
.nav_drop-content a:hover {background-color: #e3f2fd}  


.nav_drop:hover .nav_drop-content {display: block;}

/* .nav_drop:hover .dropbtn {background-color: #c1e7e2;} */
/* .nav_drop:hover .dropbtn {background-color: white;} */

/* my css */
nav.navbar {
  /* background:rgb(168, 162, 162); */
  background-color: #e3f2fd;

  
}

.detail {
  color: black;
}
.group {
  color: black;
}

  img.logomain {
    margin-left: -36%;
}
form.form-inline {
  /* display: inline-flex;
  justify-content: flex-start;
  align-items: baseline; */
}
button.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButtonBase-root.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
  height: 32px;
  display: inline-grid;
  justify-content: space-evenly;
  margin-top: 2%;
  color: black;
  border-color: black;
}

.MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 80%;
}
.col-2.group {
  display: flex;
  justify-content: space-evenly;
}
body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}
body.dark-mode {
  background-color: #1a1919;
  color: #999;
}

a.active::before {
  display: contents;
  color:black ;
  text-decoration: none;
}
a.active:visited {
  display: contents;
  color:black ;
  text-decoration: none;
}
.list_sidebar{ 
  display: contents;
  color:black ;
  text-decoration: none;
} 
.slogn{
  color: aquamarine;
  margin-left: 1%;
}
.sidebar_logo{
  margin-left: 13%
  ;
}
button.close_sidebar {
  background: white;
  border: 1px;
  float: right;
}
.MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-button {
  display: flex;
  justify-content: space-between;
}
.login_btn {
  background-color:#e3f2fd;
  /* color: white; */
  /* padding: 16px; */
  /* font-size: 16px; */
  border-color: black;
}

/* The container <div> - needed to position the dropdown content */
.login_drop {
  /* position: relative; */
  position:absolute;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.login_content {
  display: none;
  /* position: absolute; */
  position: relative;
  /* background-color: #f1f1f1; */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.login_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.login_content a:hover {background-color: white ; }

/* Show the dropdown menu on hover */
.login_drop:hover .login_content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.login_drop:hover .login_btn {background-color: #e3f2fd;
}

.col-2.shoppite_bank {
  background: #aed4f0;
}.row{

display: flex;
flex-wrap: wrap;
margin-top: 0%;
margin-right: 0%;
margin-left:0%;
/* --bs-gutter-x:0rem !important; */


}
.row.sec_nvbar_css {
  --bs-gutter-x: 0rem;
}
